
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.syndes.terminal">

    <!-- Разрешение, позволяющее приложению инициировать удаление пакетов через PackageInstaller APIs.
         В большинстве случаев для обычного вызова ACTION_DELETE системное подтверждение требуется и
         дополнительных runtime разрешений не нужно, но декларация в манифесте полезна. -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Блок queries вместо QUERY_ALL_PACKAGES -->
    <queries>
        <!-- Позволяет находить все приложения с LAUNCHER-активити -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SettingsActivity тоже нужно зарегистрировать -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"/>
    </application>

</manifest>
